#header {
    border-bottom: 5px solid;
    border-color: #006400;
}

#divider {
    border: 1px solid;
}

.attractions{
    margin: auto;
    height: 50vh;
    width: 50vw;
    margin-bottom: 15rem;
}

.accomodation{
    display: flex;
}

.eventImage{
    display: flex;
}

.event{
    margin: auto;
}

.event-content{
    background-color:#EEEDE7;
}

.event-title{
    margin-top: 3rem;
    text-align: center;
}

.img {
    min-width: 20vw;
    height: 50vh; 
    object-fit: cover;
}

